opencv-python==4.9.0.80
numpy==1.26.3
pyautogui==0.9.54
pytesseract==0.3.10
Pillow==10.2.0
pyttsx3==2.90
openai==1.6.1
google-generativeai==0.3.2
python-dotenv==1.0.0
keyboard==0.13.5
requests==2.31.0
SpeechRecognition==3.10.1
scikit-image==0.22.0
